/*
 * EXTRAS
 */
.card {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 8em;
    height: 16em;
    border-radius: 1.5em;
    overflow: hidden;
    border-width: 2px;
    border-style: dashed;
    border-color: transparent;
    transition: border-color 0.5s;
}
.card:hover,
.card:active,
.card.has-focus {
    border-color: var(--card-border-color);
}
.card-background {
    width: 100%;
    height: 100%;
    background-color: var(--card-background-color);
}

.card-background > * {

}
.card-content {
    position: absolute;
    padding: 0 0.5em 1em 0.5em;
    bottom: 0;
    color: var(--card-text-color);
}