/*
 * Definição padrão da página
 */
body {
    font-family: 'Roboto', 'Roboto Slab', 'Calibri', 'Arial', 'Helvetica', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 1s, color 1s;
}