:root body {
    --background-color: #ffffffff;
    --text-color-inactive: #00000080;
    --text-color: #0000009f;
    --text-color-title: #000000bf;
    --text-color-active: #000000d7;
    
    --card-background-color: #ff00ffff;
    --card-border-color: #00000040;
    --card-border-color-2: #00000080;
    --card-text-background: #ffffffb7;
    --card-text-color: #000000ff;

    --page-shadow-color: var(--text-color);
}
:root body.dark {
    --background-color: #282828ff;
    --text-color-inactive: #d7d7d780;
    --text-color: #d7d7d79f;
    --text-color-title: #d7d7d7bf;
    --text-color-active: #d7d7d7d7;

    --card-border-color: #d7d7d740;
    --card-border-color-2: #d7d7d780;
    --card-text-color: #0000009f;
}
:root body.black {
    --background-color: #000000ff;
    --text-color-inactive: #ffffff80;
    --text-color: #ffffff9f;
    --text-color-title: #ffffffbf;
    --text-color-active: #ffffffd7;

    --card-border-color: #ffffff40;
    --card-border-color-2: #ffffff80;
    --card-text-color: #0000009f;
}
