/*
 * MENU
 */
.sidebar {
    position: absolute;
    z-index: -1;
    padding: 0 1em 0 1em;
    width: calc(65vw - 2em);
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
}
.menu-open .sidebar {
    opacity: 1;
    z-index: 0;
}
.sidebar .v-full-container {
    padding: 3em 0;
    height: calc(100vh - 6em);
}

/*
 * BODY MENU
 */
.menu-open .page {
    box-shadow: 0 0 4em var(--page-shadow-color);
    border-radius: 2em;
    transform: translate(50%) scale(0.7);
}