/*
 * MENU
 */
.sidebar {
    position: absolute;
    z-index: -1;
    width: calc(50vw + 15vw);
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
}
.menu-open .sidebar {
    opacity: 1;
    z-index: 0;
}
.sidebar .v-full-container {
    padding: 4em 1em 3em 1em;
    height: calc(100vh - 7em);
}
@media (min-width: 1280px) {
    .sidebar {
        width: calc(50vw + 1280px * 0.15);
    }
}
/*
@media (min-width: 720px)  {
    .sidebar .v-full-container .v-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        list-style-type: none;
    }
    .sidebar .v-full-container .v-list .v-list-item {
        padding-right: 2em;
        min-width: 10em;
    }
    .sidebar .v-full-container .v-list .v-next-column {
        height: -webkit-fill-available;
    }
}*/

/*
 * BODY MENU
 */
.menu-open .page {
    box-shadow: 0 0 4em var(--page-shadow-color);
    border-radius: 2em;
    transform: translate(50%) scale(0.7);
}